html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {

    padding: 0;
    // box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    margin: 0;
    padding: 0 0 100px 0;
    font-family: sans-serif;
    background-image: url(../components/images/brushed-alum.png);
}

.app {
    margin-top: 4rem;
    display: grid;
    justify-items: center;
    padding-bottom: 10px;
}
